.Button {
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  opacity: 0.9;
  font-size: 14px;
  padding: 0.8rem 1.2rem;
  min-width: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button:active {
  top: 1px;
}

.IconButton {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.9;
  position: relative;
  min-width: 0px;
  font-size: 1.4rem;
  background-color: #fff;
}

.IconButton:active {
  top: 1px;
}
