.FormController {
  display: flex;
  flex-direction: rowe;
  justify-content: space-between;
}

.FooterSaveButton {
  color: white;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
}

.FooterCancelButton {
  background: none;
  border: none;
  color: rgb(136, 136, 136);
  font-weight: bold;
  box-shadow: none;
}

.FormBody {
  padding: 1rem 2rem 0px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(100% - 4rem);
}

.FormFooter {
  width: calc(100% - 3rem);
  padding: 1.5rem;
  text-align: right;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Form {
  background-color: white;
  border-radius: 8px;
  text-align: left;
  margin-top: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  animation: 0.1s ease-in-out 0s 1 normal none running expand;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Form input {
  width: 100%;
  border-radius: 4px;
  font-size: 2.5rem;
  padding: 1rem 0;
  box-shadow: none;
  border: none;
  color: rgb(85, 85, 85);
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.AddForm input::placeholder {
  color: rgba(221, 221, 221, 0.1);
}

.ShowEst {
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  padding: 1rem;
  box-shadow: none;
  border: none;
  width: 7.5rem;
  box-sizing: border-box;
  margin-right: 1rem;
}

.ShowEst span {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(85, 85, 85);
  display: inline-block;
}

.ConfigButton {
  margin: 0px 2px;
  padding: 0.8rem 1.2rem;
  width: 4rem;
  color: rgb(85, 85, 85);
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border-radius: 4px;
}

.BacklogInput {
  width: 32rem;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  font-size: 1.75rem;
  border: none;
  box-shadow: 0px 1px 2px #7c7c7c;
}
