.Header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.SignInButton {
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 10px;
  font-size: 13px;
  padding: 8px 12px;
  min-width: 70px;
  border: none;
  color: white !important;
}
