.Backlogs {
  padding: 1rem;
  /* FIXME : temp */
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.OpenFormButton {
  width: 100%;
  padding: 1rem;
  height: 6rem;
  cursor: pointer;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

.OpenFormButton:hover {
  opacity: 1;
}

.OpenFormButton span {
  font-weight: bold;
  opacity: 0.8;
  color: #fff;
  margin-left: 0.4rem;
  font-size: 1.6rem;
}
