.ActivePomodoro {
  background-color: lightgreen;
}

.PomodoroTitle {
  width: 60%;
  font-size: 1.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PomodoroItem {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  box-sizing: border-box;
  transition: unset;
  box-shadow: none;
  transform: translateY(2px);
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 1.8rem 1rem;
}

.PomodoroItem[aria-label="active"] {
  border-left: 6px solid rgb(34, 34, 34);
}

.PomodoroTitle {
  color: rgb(85, 85, 85);
  font-weight: bold;
  width: 86%;
  overflow: hidden;
  align-items: center;
  line-height: 1.5em;
}

.PomodoroActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.Done {
  background-color: red;
}
