.App {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background-color: rgb(217, 85, 80);
  /* temporary */
  color: white;
}

.BlueApp {
  background-color: rgb(76, 145, 149);
}

/* Tasks */
.Tasks {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  /*background-color: blue;*/
}

.Tasks > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.TaskItem {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* pomodoro */

/* 
 * calender 
 */
.Calender {
  /**/
}
