.App {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 75%;
  height: 100%;
  margin: auto;
  padding: 4rem 0;
}

@media (max-width: 1200px) {
  .App {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(217, 85, 80);
}

.BlueBackground {
  background-color: rgb(76, 145, 149);
}

.SignInButton {
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 10px;
  font-size: 13px;
  padding: 8px 12px;
  min-width: 70px;
  border: none;
  color: white !important;
  position: fixed;
  top: 0;
  left: 0;
}
