@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;

  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

button,
input,
textarea {
  font-family: "Varela Round", sans-serif;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: hsl(357, 50%, 22%);
  margin-top: 1.8rem;
  margin-bottom: 0em;
}

h1 {
  font-size: 34px;
}

@media only screen and (max-width: 680px) {
  h1,
  h2 {
    letter-spacing: -0.2px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}

p {
  font-size: 18px;
  line-height: 1.6em;
  color: hsl(357, 12%, 42%);
}

@media only screen and (max-width: 680px) {
  p,
  li {
    font-size: 16px;
  }
}

ul {
  font-size: 18px;
  list-style: none;
  -webkit-padding-start: 24px;
}

ol {
  font-size: 16px;
  -webkit-padding-start: 24px;
}

li {
  line-height: 1.6rem;
  color: hsl(357, 12%, 42%);
  margin: 12px 0px;
}

@keyframes tenmetsu {
  0% {
    opacity: 0.01;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
  }
}

@keyframes tenmetsulight {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes scaleup {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    transform: scale(1, 0.8);
    opacity: 0.1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes slideup {
  0% {
    transform: translateY(20px);
    opacity: 0.2;
  }
  60% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideupslow {
  0% {
    transform: translateY(20px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideleft {
  0% {
    /* transform: translateX(60px) scale(1.2); */
    transform: translateY(10px) scale(1.1);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
